<div id="<%= dom_id invoice %>">
  <p>
    <strong>Invoice number:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p>
    <strong>Invoice date:</strong>
    <%= invoice.invoice_date %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= invoice.customer_name %>
  </p>

  <p>
    <strong>Customer notes:</strong>
    <%= invoice.customer_notes %>
  </p>

  <p>
    <strong>Total amount due:</strong>
    <%= invoice.total_amount_due %>
  </p>

  <p>
    <strong>Emails:</strong>
    <%= invoice.emails %>
  </p>

</div>
